<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Posts Feed</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/style/css.css}">

</head>
<body>
<h1>POSTS</h1>
<button class="btn-add" onclick="toggleForm()">Add Post</button>

<div class="form-container" style="display: none;" id="postForm">
    <h2>Create Post</h2>
    <form th:action="@{/feed}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="imageUrl">Image:</label>
        <input type="url" id="imageUrl" name="imageUrl" required>

        <label for="description">Description:</label>
        <textarea
                id="description"
                name="description"
                cols="30"
                rows="10"
                required
        ></textarea>

        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags" required>

        <button type="submit">Create</button>
    </form>
</div>

<h2>Filtering by tag...</h2>

<form th:action="@{/feed}" method="get" th:switch="${feed.keyword}">
    <input th:case="null" name="keyword" placeholder="Enter the keyword..." type="search">
    <input th:case="*" name="keyword" th:value="${feed.keyword}" type="search">
    <button type="submit" th:name="size" th:value="${feed.size}">Поиск</button>
</form>

<article class="content">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Likes Count</th>
            <th>Comments Count</th>
            <th>Tags</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="postsFeed : ${feed.postsFeedList}">
            <td><a th:href="@{/feed/{id} (id=${postsFeed.id})}"><p th:text="${postsFeed.name}"></p></a></td>
            <td><img th:src="${postsFeed.imageUrl}" alt="Image not found" width="50px" height="50px"/></td>
            <td th:text="${postsFeed.abbreviatedDescription}"></td>
            <td th:text="${postsFeed.likesCount}"></td>
            <td th:text="${postsFeed.commentsCount}"></td>
            <td th:text="${postsFeed.tags}"></td>
        </tr>
        </tbody>

    </table>


    <div style="flex-direction: row; margin-bottom: 45px">
        <a th:if="${feed.keyword == null}"
           th:href="@{/feed(page=${feed.page}, size=${feed.size}, prev=prev, posts=${feed.postsCount})}"
        >
            <button type="button">Prev</button>
        </a>
        <a th:if="${feed.keyword == null}"
           th:href="@{/feed(page=${feed.page}, size=${feed.size}, next=next, posts=${feed.postsCount})}"
        >
            <button type="button">Next</button>
        </a>

        <a th:unless="${feed.keyword == null}"
           th:href="@{/feed(page=${feed.page}, size=${feed.size}, prev=prev, posts=${feed.postsCount}, keyword=${feed.keyword})}"
        >
            <button type="button">Prev</button>
        </a>
        <a th:unless="${feed.keyword == null}"
           th:href="@{/feed(page=${feed.page}, size=${feed.size}, next=next, posts=${feed.postsCount}, keyword=${feed.keyword})}"
        >
            <button type="button">Next</button>
        </a>

    </div>

    <p style="margin-bottom: 2px">Posts count:</p>

    <div style="flex-direction: row;">
        <form th:action="@{/feed}" style="flex-direction: row;">
            <button type="submit" th:name="size" th:value="10">10</button>
            <button type="submit" th:name="size" th:value="20">20</button>
            <button type="submit" th:name="size" th:value="50">50</button>
        </form>
    </div>

</article>

<script type="text/javascript" th:src="@{/static/script/js.js}"></script>

</body>
</html>