<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Posts Feed</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/style/css.css}">

</head>
<body>
<h1>POSTS</h1>
<button class="btn-add" onclick="toggleForm()">Add Post</button>

<h2>Filtering by tag...</h2>

<article class="content">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Likes Count</th>
        <th>Comments Count</th>
        <th>Tags</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="postsFeed : ${feed.postsFeedList}">
        <td th:text="${postsFeed.name}"></td>
        <td> <img th:src="${postsFeed.imageUrl}" alt="Image not found" width="50px" height="50px"/> </td>
        <td th:text="${postsFeed.abbreviatedDescription}"></td>
        <td th:text="${postsFeed.likesCount}"></td>
        <td th:text="${postsFeed.commentsCount}"></td>
        <td th:text="${postsFeed.tags}"></td>
        <!--<td>
            <p th:each="tag: ${postsFeed.tags}"> <span th:text="${tag}"/>
        </td>-->
    </tr>
    </tbody>

</table>

<!--    <div>
        <form th:action="@{/feed}" style="flex-direction: row;">
            <button type="submit" th:name="size" th:value="10">10</button>
            <button type="submit" th:name="size" th:value="20">20</button>
            <button type="submit" th:name="size" th:value="50">50</button>
        </form>
        <div style="flex-direction: row;">
            <form th:action="@{/feed(page=${feed.page - feed.size}, size=${feed.size})}">
                <button type="submit" th:name="page">Prev</button>
            </form>
            <form th:action="@{/feed(page=${feed.page + feed.size}, size=${feed.size})}">
                <button type="submit" th:name="page">Next</button>
            </form>
        </div>
    </div>-->

    <div style="flex-direction: row;">
        <a th:href="@{/feed(page=${feed.page}, size=${feed.size}, prev=${prev}, posts=${feed.postsCount})}"
           th:text="Prev"
        ></a>
        <a th:href="@{/feed(page=${feed.page}, size=${feed.size}, next=${next}, posts=${feed.postsCount})}"
           th:text="Next"
        ></a>
    </div>


    <h3>Posts count:</h3>
    <form th:action="@{/feed}" style="flex-direction: row;">
        <button type="submit" th:name="size" th:value="10">10</button>
        <button type="submit" th:name="size" th:value="20">20</button>
        <button type="submit" th:name="size" th:value="50">50</button>
    </form>

    <!--<form th:action="@{/feed}" style="flex-direction: row;">
        <button type="submit" th:name="size" th:value="10">10</button>
        <button type="submit" th:name="size" th:value="20">20</button>
        <button type="submit" th:name="size" th:value="50">50</button>
    </form>

    <form th:action="@{/feed(page=${feed.page}, size=${feed.size}, prev=${prev}, posts=${feed.postsCount})}" style="flex-direction: row;">
        <button type="submit">Prev</button>
    </form>
    <form th:action="@{/feed(page=${feed.page}, size=${feed.size}, next=${next}, posts=${feed.postsCount})}" style="flex-direction: row;">
        <button type="submit">Next</button>
    </form>-->

    <!--<form th:action="@{/feed(page=${feed.page}, size=${feed.size}, posts=${feed.postsCount})}" style="flex-direction: row;">
        <button type="submit" th:name="prev" th:value="prev">Prev</button>
        <button type="submit" th:name="next" th:value="next">Next</button>
    </form>-->

    <div>
        <p th:text="${feed.page}"></p>
        <p th:text="${feed.size}"></p>
        <p th:text="${feed.postsCount}"></p>
    </div>

    <!--<form th:action="@{/feed(page=${feed.page}, size=${feed.size}, posts=${feed.postCount})}" style="flex-direction: row;">
        <button type="submit" th:name="prev" th:value="prev">Prev</button>
        <button type="submit" th:name="size" th:value="ten">10</button>
        <button type="submit" th:name="size" th:value="twenty">20</button>
        <button type="submit" th:name="size" th:value="fifty">50</button>
        <button type="submit" th:name="next" th:value="next">Next</button>
    </form>-->

    <!--<div
        th:each="pageNumber : ${pageNumbers}"
    >
        <a style="flex-direction: row;"
          th:href="@{/feed(from=${pageNumber}, size=${feed.size})}"
          th:text=${pageNumber}
        ></a>

    </div>

    <form th:action="@{/feed}" style="flex-direction: row;">
        <button type="submit" th:name="count" th:value="10">10</button>
        <button type="submit" th:name="count" th:value="20">20</button>
        <button type="submit" th:name="count" th:value="50">50</button>
    </form>-->

<!--    <div>-->
<!--        <button class="btn-add pag-value-20" value="20"-->
<!--                th:action="@{/feed}" method="POST"-->
<!--        >20</button>-->
<!--    </div>-->

<!--    <div -->
<!--         th:if="${bookPage.totalPages > 0}" class="pagination"-->
<!--         th:each="pageNumber : ${pageNumbers}">-->
<!--        <a th:href="@{/feed(size=${bookPage.size}, page=${pageNumber})}"-->
<!--           th:text=${pageNumber}-->
<!--           th:class="${pageNumber==bookPage.number + 1} ? active"></a>-->
<!--    </div>-->

<!--    <div style="flex-direction: row;">
        <button class="btn-add prev" value="10">Prev</button>
        <button class="btn-add pag-value-10" value="10" onclick="setRowCount10()">10</button>
        <button class="btn-add pag-value-20" value="20" onclick="setRowCount20()">20</button>
        <button class="btn-add pag-value-50" value="50" onclick="setRowCount50()">50</button>
        <button class="btn-add next" value="10">Next</button>
    </div>-->

<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination mt-4">-->
<!--            <li th:class="${currentPage==status.index} ? 'active' : '' " class="page-item" th:each="page, status: ${pages}">-->
<!--                <a th:href="@{/(page=${status.index}, keyWord=${keyWord})}" class="page-link" th:text="${status.index}"></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->

</article>

<div class="form-container" style="display: none;" id="postForm">
    <h2>Create Post</h2>
    <form th:action="@{/feed}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="imageUrl">Image:</label>
        <input type="url" id="imageUrl" name="imageUrl" required>

        <label for="description">Description:</label>
        <textarea
                id="description"
                name="description"
                cols="30"
                rows="10"
                required
                ></textarea>

        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags" required>

        <button type="submit">Create</button>
    </form>
</div>

<!--<div class="form-container" style="display: none;" id="postForm">
    <h2>Create Post</h2>
    <form th:action="@{/feed}" method="POST">
        <label for="firstName">Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" required>
        <label for="age">Возраст:</label>
        <input type="number" id="age" name="age" required>
        <label for="active">Активен:</label>
        <input type="checkbox" id="active" name="active">
        <button type="submit">Добавить</button>
    </form>
</div>-->

<script type="text/javascript" th:src="@{/static/script/js.js}"></script>

<!--<script>-->
<!--    function toggleForm() {-->
<!--        const form = document.getElementById('userForm');-->
<!--        form.style.display = form.style.display === 'none' ? 'block' : 'none';-->
<!--    }-->
<!--</script>-->
</body>
</html>