<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Post</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/style/post.css}">

</head>

<body>

<div th:object="${post}" style="height: 100%; font-size: large;">

    <div style="display: flex; align-items: center; justify-content: center; font-size: large; font-weight: bold;">
        <p th:text="*{name}"></p>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
        <img th:src="*{imageUrl}" alt="Image not found" width="250px" height="250px">
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
        <p style="font-size: 900;">Description: </p>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="post-border">
            <tr th:each="d : *{description}">
                <td><p th:text="${d}"></p></td>
            </tr>
        </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
        <p style="font-size: 900;">Tags: </p>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="post-border">
            <tr th:each="t : *{tags}">
                <td th:text="${t}"></td>
            </tr>
        </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
        <p style="font-size: 900;">Comments: </p>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="post-border">
            <tr th:each="c : *{comments}">
                <td><p th:text="${c}"></p>
                    <hr/>
                </td>
            </tr>
        </div>
    </div>
</div>

</body>
</html>